# IGNORE FOLDER
templateFixation/data/
templateFixation/dep/
templateFixation/stim/

templateSameDiff/data/

templateSameDiff_*/

# IGNORING TEMP FILES
*.asv


# Ignoring files in the main folder
*.ffs_db
todos.m
todos.txt









